body {
  padding: 80px;
  background-image: url("../images/back-ground.jpg");
  background-attachment: fixed;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* img {
   width: 50px;
   height: 50px;
 } */
#banner img {
  height: 20px;
  margin: 15px;
}

#banner {
  background-color: #3333ff !important;
  height: 80px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: #0000ff;
}

#right {
  float: right;
}

#left {
  float: left;
}

h2 {
  color: #005ce6;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  vertical-align: middle;
  border: 0;
}

form {
  width: 80%;
  display: block;
  margin-top: 0em;
  box-sizing: border-box;
}

body section#contact>div {
  margin: 0px auto;
  flex-flow: row wrap;
  justify-content: space-around;
}

.scroll {
  position: relative;
}

.form-item {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
