body {
  padding: 80px;
  background-image: url("../images/back-ground.jpg");
  background-attachment: fixed;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* img {
   width: 50px;
   height: 50px;
 } */
#banner img {
  height: 20px;
  margin: 15px;
}

#banner {
  background-color: #3333ff !important;
  height: 50px;
  box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.2);
  border-color: #0000ff;
}

#banner .container {
  width: 95%;
  max-width: 1024px;
  /*justify-content: space-between;*/
  align-items: center;
  display: flex;
  padding-right: 15px;
  flex-flow: row wrap;
}

#right {
  float: right;
}

#footer-below {
  text-align: center;
  background-color: #3333ff;
  padding: 25px 0;
  width: 100%;
}

#left {
  float: left;
}

footer {
  color: #fff;
}

h2 {
  color: #005ce6;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  vertical-align: middle;
  border: 0;
}

form {
  width: 80%;
  display: block;
  margin-top: 0em;
  box-sizing: border-box;
}

header {
  display: block;
}

nav {
  font-size: 18px;
  background: #3333ff;

}

body section#contact>div {
  margin: 0px auto;
  flex-flow: row wrap;
  justify-content: space-around;
}

.scroll {
  position: relative;
}

.form-item {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.navbar-fixed-top {
  border-width: 0 0 1px;
  padding-right: 0;
  padding-left: 0;
  right: 0;
  left: 0;
}

* {
  box-sizing: border-box;
}
.navbar-default {
  border-color: #e7e7e7;
}

.jumbotron {
  background-color: #ccccff;
}
