body {
  padding: 80px;
  background-image: url("../images/back-ground.jpg");
  background-attachment: fixed;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* img {
   width: 50px;
   height: 50px;
 } */
#banner img {
  height: 20px;
  margin: 15px;
}

img {
  vertical-align: middle;
  border: 0;
}

#right {
  float: right;
}

#left {
  float: left;
}

h2 {
  color: #005ce6;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

form {
  width: 80%;
  display: block;
  margin-top: 0em;
}

.form-item {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
